#grid-container {
    display: flex;
    align-content: space-around;
}

.square {
    border: 1px solid black;
}

.square:hover {
    background-color: black;
}

.checked {
    background-color: gray;
}

button {
    margin-bottom: 15px;
}